{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}Flasky-Register{% endblock %}
{% block content %}
{% block page_content %}
<div class="page-header">
         <h1>Register</h1>
</div>
<div class="col-md-4">
<form method="post">
    密码:<input name='password' type="password"/>
    <input type="submit"/>
</form>
</div>
{% endblock %}
{% endblock %}