{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky-Register{% endblock %}
{% block page_content %}
{% if exhibit=='add_admin' %}
<div class="page-header">
         <h1>授权</h1>
</div>
<div class="col-md-4">
<form method="post">
    email:<input name='email' type="email" />
    授权等级:
    <select  name="level">
        <option selected="selected" value=0>只读</option>
        <option value=1>编辑</option>
        <option value=2>管理员</option>
    </select>
    <input type="submit"/>
</form>
</div>
{% elif exhibit=='show_admin' %}
    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>管理员管理:</h3></div>
    <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table">
                  <caption>管理员列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.register',exhibit='add_admin', page=page) }}">授权</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>id</th>
                      <th>email</th>
                      <th>等级</th>
                        <th>操作</th>

                    </tr>
                  </thead>
                    <tbody>
                    {% for admin in admins %}
                        <tr>
                            <th>{{  admin['id'] }}</th>
                            <th>{{  admin['email'] }}</th>
                            <th>{% if admin['level']==0 %}只读{% elif admin['level']==1 %}编辑{% elif admin['level']==2 %}管理员{% elif admin['level']==3 %}超管{% endif %}</th>

                            <td>

                              <button type="button" class="btn btn-success btn-xs  right"  data-toggle="modal" data-target="#adminU{{ admin['id'] }}">权利变更</button>
                              <div class="modal fade" id="adminU{{admin['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    权利变更
                                                </h4>
                                            </div>
                                            <form method="post">
                                                <div class="modal-body">
                                                        <input style='display: none' name="edit_id" value="{{ admin['id'] }}" type="text"/>
                                                        <select name="level_update">
                                                            <option selected="selected" value=0>只读</option>
                                                            <option value=1>编辑</option>
                                                            <option value=2>管理员</option>
                                                        </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                    </button>
                                                    <input type="submit" class="btn btn-primary  right" />

                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>

                              <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#admin{{ admin['id'] }}">删除</button>
                              <div class="modal fade" id="admin{{admin['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该管理员,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.register',exhibit='show_admin',deleteid=admin['id'],page=page)}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
{#        {% if adminsresp.json()['all'] > 25 %}#}
{#        <div class="pagination">#}
{#            <ul class="pagination">#}
{##}
{#                {% for p in range(1+(adminsresp.json()['all'] - 1)//25) %}#}
{##}
{#                <li {% if page==p + 1  %}class="active"{% endif %}>#}
{#                    <a href="{{ url_for('.register', exhibit='show_admins', page=p + 1) }}">{{ p + 1 }}</a>#}
{#                </li>#}
{##}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{#        </div>#}
{#        {% endif %}#}
            </div>
        </div>
{% endif %}
{% endblock %}