<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
    <div class="comment-content">
    <div class="profile-thumbnail">
    <a href="{{ url_for('.user', username=comment.author.username) }}">
{#    <img class="img-rounded profile-thumbnail"#}
{#         src="{{ post.author.gravatar(size=40) }}">#}
    </a>
    </div>
     <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
                 <div class="comment-author">
                     <a href="{{ url_for('.user', username=comment.author.username) }}">
                         {{ comment.author.username }}
    </a>
    </div>
                 <div class="comment-body">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                 {% if moderate or not comment.disabled  %}
                     {% if comment.body_html  %}
                        {{ comment.body_html| safe }}
                     {% else %}
                        {{ comment.body }}
                     {% endif %}
                 {% endif %}
                 </div>
    {% if moderate %}
    <br>
    {% if comment.disabled %}
    <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable',id=comment.id,page=page)}}">Enable</a>
    {% else %}
    <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable',id=comment.id,page=page) }}">Disable</a>
    {% endif %}
    {% endif %}
    </div>
    </li>
        {% endfor %}
{#    <div class = 'comment-footer'>#}
{#        <a href="{{ url_for('.post',id=post.id) }}">#}
{#            <span class="label label-default">Permalink</span>#}
{#            </a>#}


    </ul>
