{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}用户管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>用户管理:</h3></div>
    {% if exhibit=='adduser' %}
    {{ wtf.quick_form(form1) }}
    {% endif %}
    {% if exhibit=='edituser' %}
    {{ wtf.quick_form(form2) }}
    {% endif %}
    {% if exhibit=='change_status' %}
        <form method="post" id="form">
            状态:
            <select id='status' onchange='isDurationShow()' name="status">
                <option value="0">解封</option>
                <option value="1">封禁</option>
            </select>
            <div id='duration' style="display: none">
                封禁时长:
                <input type="number"  name="duration"/>
            </div>
            <input type="submit" />
        </form>
        <script>
            var duration=document.getElementById('duration');

            function isDurationShow() {
                var form=document.getElementById('form');
                var status=form.status.value;
                console.log(status);
                if (status == 1) {
                    duration.style.display = 'block';
                }
                else {
                    duration.style.display = 'none';
                }
            }
        </script>
    {% endif %}
    {% if exhibit=='buy' %}
        <script>
        function buyCourse(){
            document.getElementById('coursesubmit').click();

        }
        function buyLesson(){
            document.getElementById('lessonsubmit').click();

        }
        function buyVip(){
            var beginTime=document.getElementById('begin').value;
{#            var endTime=document.getElementById('end').value;#}
            if( beginTime) {
                if(beginTime.match(/^[0-9]{8}$/)) {

                        document.getElementById('vipsubmit').click();

                }
                else{
                    alert('日期格式不对')
                }
            }
            else{
                alert('请输入开始时间')
            }

        }


        </script>
{#    <!--                   /.课类购买               -->#}
{#        <div class="modal fade" id="buycourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title" id="myModalLabel">课类购买</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form method="post">#}
{#                            {% for i in courses %}#}
{#                                <div>#}
{#                                <input type="checkbox" value={{ i['id'] }} name='buycourse' > <p style="display: inline">{{ i['name'] }}</p>#}
{##}
{#                                </div>#}
{#                            {% endfor %}#}
{#                            <input type="submit" id='coursesubmit' style="display: none"/>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#                        <button type="button" class="btn btn-primary" onclick="buyCourse()" id="buycourse">提交</button>#}
{#                    </div>#}
{#                </div><!-- /.modal-content -->#}
{#            </div><!-- /.modal -->#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <button class="btn btn-info" data-toggle="modal" data-target="#buycourse" >购买课类</button>#}
{#            <div class="panel">#}
{#                <div class="panel-body">#}
{#                    {% for i in course_purchases %}#}
{#                        {% if i['user_id']|int==request.args.get('buyid')|int %}#}
{#                            <p>{{ i['course_id'] }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    <!--                   /.课程购买               -->#}
{#        <div class="modal fade" id="buylesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title" id="myModalLabel">课程购买</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <form method="post">#}
{#                            {% for i in lessons %}#}
{#                                <div>#}
{#                                    <input type="checkbox" value={{ i['id'] }} name='buylesson' > <p style="display: inline">{{ i['name'] }}</p>#}
{##}
{#                                </div>#}
{#                                <input type="submit" id='lessonsubmit' style="display: none"/>#}
{#                            {% endfor %}#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#                        <button type="button" class="btn btn-primary" onclick="buyLesson()" id="buylesson">提交</button>#}
{#                    </div>#}
{#                </div><!-- /.modal-content -->#}
{#            </div><!-- /.modal -->#}
{#        </div>#}
{##}
{#        <div class="col-md-4">#}
{#            <button class="btn btn-info" data-toggle="modal" data-target="#buylesson" >购买课程</button>#}
{#            <div class="panel">#}
{#                <div class="panel-body">#}
{#                    {% for i in lesson_purchases %}#}
{#                        {% if i['user_id']|int==request.args.get('buyid')|int %}#}
{#                            <p>{{ i['lesson_id'] }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    <!--                   /.会员订阅               -->
        <div class="modal fade" id="buyvip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">会员订阅</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% for i in members %}
                                <div>
                                    <input type="radio" value={{ i['id'] }} name='buyvip' >
                                        <p style="display: inline">{{ i['name'] }}</p>


                                </div>

                            {% endfor %}
                            <label>起始日期</label>
                            <input type="text" id='begin' placeholder="例如:20170102" name="begintime" />
{#                            <label>结束日期</label>#}
{#                            <input type="text" id='end' placeholder="例如:20170702" name="endtime"/>#}
                            <input type="submit" id='vipsubmit' style="display: none"/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="buyVip()" id="buyvip">提交</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="col-md-4">
            <button class="btn btn-info" data-toggle="modal" data-target="#buyvip">订阅会员</button>
            <div class="panel">
                <div class="panel-body">
                    {% for i in vip_purchases %}
                        {% if i['user_id']|int==request.args.get('buyid')|int %}
                            <p>{{ i['member']['name']}},起始:{{i['period_start']}};结束:{{i['period_end'] }}
                                <button class="btn btn-danger btn-xs  " style="display: inline" data-toggle="modal" data-target="#member{{ i['id'] }}">删除</button>
                            </p>

                              <div class="modal fade" id="member{{i['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该会员权限,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.admin',exhibit='member',buydeleteid=i['id'])}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
    {% endif %}

    {% if exhibit=='users' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>用户列表({{ users.json()['all'] }}):
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='adduser') }}">添加用户+</a>
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='') }}">所有用户购买详情</a>
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='member') }}">会员管理</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>头像</th>
                      <th>昵称</th>
                      <th>性别</th>
                      <th>邮箱</th>
                      <th>手机号</th>
                      <th>类别</th>
                      <th>状态</th>
                        <th>创建时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for uuser in users.json()['records'] %}

                        <tr>
                            <th>{% if uuser['avatar_url'] and 'http' in uuser['avatar_url']  %}<img src="{{ uuser['avatar_url'] }}" width='50px' height="50px">
                                {% else %}<img src="{{ url_for('.static',filename='timg.jpeg') }} " width="50px" height="50px">
                                {% endif %} </th>
                            <th>{{  uuser['nick'] }}</th>
                            <th>{% if uuser['gender']==0 %}男{% else %}女{% endif %}</th>
                            <th>{{  uuser['email'] }}</th>
                            <th>{{ uuser['phone'] }}</th>
                            <th>{% if uuser['utype'] == 0 %}学生{% elif uuser['utype'] == 1 %}老师{% endif %}  </th>
                            <th>{% if uuser['status'] == 0 %}正常{% elif uuser['status'] == 1 %}封禁{% endif %}  </th>
                            <th>{{ uuser['created_at'] }}  </th>
                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.admin',exhibit='edituser',editid=uuser['id']) }}">编辑</a>
                              <a type="button" class="btn btn-success btn-xs  right"   href="{{ url_for('.admin',exhibit='buy',buyid=uuser['id']) }}">购买</a>
                                <a type="button" class="btn btn-danger btn-xs  right"   href="{{ url_for('.admin',exhibit='change_status',editid=uuser['id']) }}">封禁</a>
{#
{#                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#user{{ uuser['id'] }}">删除</button>#}
{#                              <div class="modal fade" id="user{{uuser['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#                                    <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                            <div class="modal-header">#}
{#                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                                                    &times;#}
{#                                                </button>#}
{#                                                <h4 class="modal-title" id="myModalLabel">#}
{#                                                    警告#}
{#                                                </h4>#}
{#                                            </div>#}
{#                                            <div class="modal-body">#}
{#                                                您将删除该用户,确定删除?#}
{#                                            </div>#}
{#                                            <div class="modal-footer">#}
{#                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消#}
{#                                                </button>#}
{#                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.admin',exhibit='users',deleteid=uuser['id'])}}">#}
{#                                                    确定#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        </div><!-- /.modal-content -->#}
{#                                    </div><!-- /.modal -->#}
{#                                </div>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            {% if users.json()['all'] > 25 %}
                <script>
                function goto(page){
                    location.href="{{ url_for('.admin', exhibit='users') }}"+"?upage="+page
                }
                </script>

        <div class="pagination">
            <ul class="pagination">

                <input id='href' type="text"/>
                    <lable>/{{ 1+(users.json()['all'] - 1)//25 }}</lable>
                <button onclick="goto(document.getElementById('href').value)">GO</button>

            </ul>
        </div>
        {% endif %}
            </div>
        </div>
    {% endif %}
    {% if exhibit=='member' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
            <ul id="myTab" class="nav nav-tabs">
                <li {% if request.args.get('truepage')%}class="active"{% endif %}><a href="#normal" data-toggle="tab">
                        正式会员({{ true_users.json()['all'] }})</a>
                </li>
                <li {% if request.args.get('trypage')%}class="active"{% endif %} ><a href="#artificial" data-toggle="tab">试用会员({{ try_users.json()['all'] }})</a></li>
                <li {% if request.args.get('trypage2')%}class="active"{% endif %} ><a href="#artificial2" data-toggle="tab">全权限试用会员({{ try_users2.json()['all'] }})</a></li>
            </ul>
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in {% if request.args.get('truepage')%}active{% endif %}" id="normal">
                <table class="table table-condensed table-hover clearfix">
                          <caption>用户列表:
                          <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='users') }}">用户管理</a>
                          </caption>

                          <thead>

                            <tr>
                              <th>头像</th>
                              <th>昵称</th>
                              <th>性别</th>
                              <th>邮箱</th>
                              <th>手机号</th>
                              <th>类别</th>
                              <th>状态</th>
                                <th>创建时间</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                            <tbody>

                            {% for uuser in true_users.json()['records'] %}



                                            <tr>
                                                <th>{% if uuser['avatar_url'] and 'http' in uuser['avatar_url']  %}<img src="{{ uuser['avatar_url'] }}" width='50px' height="50px">
                                                    {% else %}<img src="{{ url_for('.static',filename='timg.jpeg') }} " width="50px" height="50px">
                                                    {% endif %} </th>
                                                <th>{{  uuser['nick'] }}</th>
                                                <th>{% if uuser['gender']==0 %}男{% else %}女{% endif %}</th>
                                                <th>{{  uuser['email'] }}</th>
                                                <th>{{ uuser['phone'] }}</th>
                                                <th>{% if uuser['utype'] == 0 %}学生{% elif uuser['utype'] == 1 %}老师{% endif %}  </th>
                                                <th>{% if uuser['status'] == 0 %}正常{% elif uuser['status'] == 1 %}封禁{% endif %}  </th>
                                                <th>{{ uuser['created_at'] }}  </th>
                                                <td>

                                                  <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.admin',exhibit='edituser',editid=uuser['id']) }}">编辑</a>
                                                  <a type="button" class="btn btn-success btn-xs  right"   href="{{ url_for('.admin',exhibit='buy',buyid=uuser['id']) }}">购买</a>

                                                </td>
                                            </tr>






                            {% endfor %}


                            </tbody>
                </table>
            {% if true_users.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(true_users.json()['all'] - 1)//25) %}

                <li {% if truepage==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.admin', exhibit='member', truepage=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
            <div class="tab-pane fade in {% if request.args.get('trypage')%}active{% endif %}" id="artificial">
                <table class="table table-condensed table-hover clearfix">
                          <caption>用户列表:
                          <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='users') }}">用户管理</a>
                          </caption>

                          <thead>

                            <tr>
                              <th>头像</th>
                              <th>昵称</th>
                              <th>性别</th>
                              <th>邮箱</th>
                              <th>手机号</th>
                              <th>类别</th>
                              <th>状态</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                            <tbody>
                            <script> function isVip(user) {
                                  let periodEnd = 0;
                                  let now = +new Date();
                                  user.subscriptions.forEach(function(subs){subs.period_end > periodEnd ? periodEnd = subs.period_end : ''});
                                  function numToDate(num) {
                                    if (num == 0) {
                                      return 0;
                                    }
                                    let year = ('' + num).slice(0, 4);
                                    let month = ('' + num).slice(4, 6) - 1;
                                    let day = ('' + num).slice(6);
                                    return +new Date(year, month, day)
                                  }

                                  return now > numToDate(periodEnd) ? false : true;

                                }
                            </script>
                            {% for uuser in try_users.json()['records'] %}



                                            <tr>
                                                <th>{% if uuser['avatar_url'] and 'http' in uuser['avatar_url']  %}<img src="{{ uuser['avatar_url'] }}" width='50px' height="50px">
                                                    {% else %}<img src="{{ url_for('.static',filename='timg.jpeg') }} " width="50px" height="50px">
                                                    {% endif %} </th>
                                                <th>{{  uuser['nick'] }}</th>
                                                <th>{% if uuser['gender']==0 %}男{% else %}女{% endif %}</th>
                                                <th>{{  uuser['email'] }}</th>
                                                <th>{{ uuser['phone'] }}</th>
                                                <th>{% if uuser['utype'] == 0 %}学生{% elif uuser['utype'] == 1 %}老师{% endif %}  </th>
                                                <th>{% if uuser['status'] == 0 %}正常{% elif uuser['status'] == 1 %}封禁{% endif %}  </th>
                                                <td>

                                                  <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.admin',exhibit='edituser',editid=uuser['id']) }}">编辑</a>
                                                  <a type="button" class="btn btn-success btn-xs  right"   href="{{ url_for('.admin',exhibit='buy',buyid=uuser['id']) }}">购买</a>

                                                </td>
                                            </tr>


                            {% endfor %}

                            </tbody>
                </table>
             {% if try_users.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(try_users.json()['all'] - 1)//25) %}

                <li {% if trypage==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.admin', exhibit='member', trypage=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
           <div class="tab-pane fade in {% if request.args.get('trypage2')%}active{% endif %}" id="artificial2">
                <table class="table table-condensed table-hover clearfix">
                          <caption>用户列表:
                          <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.admin',exhibit='users') }}">用户管理</a>
                          </caption>

                          <thead>

                            <tr>
                              <th>头像</th>
                              <th>昵称</th>
                              <th>性别</th>
                              <th>邮箱</th>
                              <th>手机号</th>
                              <th>类别</th>
                              <th>状态</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                            <tbody>
                            <script> function isVip(user) {
                                  let periodEnd = 0;
                                  let now = +new Date();
                                  user.subscriptions.forEach(function(subs){subs.period_end > periodEnd ? periodEnd = subs.period_end : ''});
                                  function numToDate(num) {
                                    if (num == 0) {
                                      return 0;
                                    }
                                    let year = ('' + num).slice(0, 4);
                                    let month = ('' + num).slice(4, 6) - 1;
                                    let day = ('' + num).slice(6);
                                    return +new Date(year, month, day)
                                  }

                                  return now > numToDate(periodEnd) ? false : true;

                                }
                            </script>
                            {% for uuser in try_users2.json()['records'] %}



                                            <tr>
                                                <th>{% if uuser['avatar_url'] and 'http' in uuser['avatar_url']  %}<img src="{{ uuser['avatar_url'] }}" width='50px' height="50px">
                                                    {% else %}<img src="{{ url_for('.static',filename='timg.jpeg') }} " width="50px" height="50px">
                                                    {% endif %} </th>
                                                <th>{{  uuser['nick'] }}</th>
                                                <th>{% if uuser['gender']==0 %}男{% else %}女{% endif %}</th>
                                                <th>{{  uuser['email'] }}</th>
                                                <th>{{ uuser['phone'] }}</th>
                                                <th>{% if uuser['utype'] == 0 %}学生{% elif uuser['utype'] == 1 %}老师{% endif %}  </th>
                                                <th>{% if uuser['status'] == 0 %}正常{% elif uuser['status'] == 1 %}封禁{% endif %}  </th>
                                                <td>

                                                  <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.admin',exhibit='edituser',editid=uuser['id']) }}">编辑</a>
                                                  <a type="button" class="btn btn-success btn-xs  right"   href="{{ url_for('.admin',exhibit='buy',buyid=uuser['id']) }}">购买</a>

                                                </td>
                                            </tr>


                            {% endfor %}

                            </tbody>
                </table>
             {% if try_users2.json()['all'] > 25 %}
        <div class="pagination">
            <ul class="pagination">

                {% for p in range(1+(try_users2.json()['all'] - 1)//25) %}

                <li {% if trypage2==p + 1  %}class="active"{% endif %}>
                    <a href="{{ url_for('.admin', exhibit='member', trypage2=p + 1) }}">{{ p + 1 }}</a>
                </li>

                {% endfor %}

            </ul>
        </div>
        {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}

{% endblock %}
