{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
    {% block styles %}

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
{#        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">#}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


    {% endblock %}
{# <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.min.js') }}"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>

<style>
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
{#      background: linear-gradient(45deg,#f5f5f5 0,#FFFFCC 100%);#}
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
{#    position: fixed;#}
{#    top: 51px;#}
{#    bottom: 0;#}
{#    left: 0;#}
{##}
{##}
{##}
{##}
{#    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */#}
    padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

</style>
{% endblock %}
{#{% block body_attribs %}#}
{#     background="{{ url_for('static', filename='colorful.jpg')}}"#}
{#    style="background-position: center;background-repeat: no-repeat;background-attachment: fixed; background-size: cover;"#}
{##}
{#{% endblock body_attribs %}#}
{% block navbar %}
{#background: rgba(0, 0, 0, 0);#}
<nav class="navbar navbar-default navbar-fixed-top " style="background-color: rgba(66,153,232,0.8);" role="navigation">


<div class="container-fluid">


<div class="navbar-header" style="width:100px;height:50px">
    <img src="{{ url_for('main.static',filename='qianwenlogo.png') }}" height="100%" >
</div>

<div class="navbar-header" >
    <a class="nav navbar-brand " style="color:white;" href="{{ url_for('main.index') }}">管理平台</a>
</div>

         {% if  session.get('adminid')  %}
            <ul class="nav navbar-nav navbar-right" >

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">

                        账户 <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.editpassword') }}" >
                             修改密码
                            </a></li>

                        <li><a href="{{ url_for('auth.logout') }}" >登出</a></li>
                    </ul>

                </li>

            </ul>
         {% endif %}
     <ul class="nav navbar-nav navbar-right">
    {% if session.get('adminid') %}
    <li><a href="#" style="color:white">
        权限:
        {% if session.get('adminlevel')==0 %}只读
        {% elif session.get('adminlevel')==1 %}编辑
        {% elif session.get('adminlevel')==2 %}管理员
        {% elif session.get('adminlevel')==3 %}超管{% endif %}</a></li>
{#    <li><a href="{{ url_for('main.admin',exhibit='users') }}" style="color:white">管理员页面</a></li>#}
    {% else %}


    {% endif %}
    </ul>



         </div>

    </nav>


{% endblock %}






{% block content %}
{% if session.get('adminid') %}




<div class="container-fluid " >

<div class="row">
<div class="col-sm-3 col-md-2 sidebar" >


            <ul class="nav nav-sidebar " >

                <li ><p class="text-muted "><span class="glyphicon glyphicon-th-large"></span> 功能</p></li>
                <li {% if 'lessonrelease' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.lessonrelease') }}">课程发布</a></li>
                <li {% if 'contentrelease' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.contentrelease') }}">文章发布</a></li>
                <li {% if 'resourcerelease' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.resourcerelease') }}">素材发布</a></li>
                <li  {% if 'comments' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.comments',exhibit='show_comments') }}">评论管理</a></li>
                <li  {% if 'feedback' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.feedback',exhibit='show_feedback') }}">消息管理</a></li>
                <hr />
                <li><p class="text-muted"><span class="glyphicon glyphicon-inbox"></span> 管理</p></li>

                <li {% if 'admins' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.admin',exhibit='users') }}">用户管理</a></li>
                <li {% if 'courses' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.courses',exhibit='column',column=-1) }}">课程管理</a></li>
                <li {% if 'resources' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.resources',exhibit='column',column=-1) }}">素材管理</a></li>
                <li {% if 'articles' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.articles',exhibit='program',program=-1) }}">文章管理</a></li>
                <li {% if 'media' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.media',exhibit='show_media') }}">媒体管理</a></li>
                <li  {% if 'tags' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.tags',exhibit='show_tags') }}">标签管理</a></li>
                <li  {% if 'consumers' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.consumers',exhibit='show_consumers') }}">授权管理</a></li>
                <li  {% if 'prices' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.prices',exhibit='show_prices') }}">价格管理</a></li>
                <li  {% if 'members' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.members',exhibit='show_members') }}">会员等级管理</a></li>
                <li  {% if 'permission' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.permission',exhibit='show_permission') }}">会员权限管理</a></li>
                <li  {% if 'orders' in request.path %}class="active"{% endif %} ><a href="{{ url_for('main.orders',exhibit='show_orders') }}">订单管理</a></li>
                <li  {% if 'favorite' in request.path %}class="active"{% endif %} ><a href="{{ url_for('main.favorites',exhibit='show_favorites') }}">收藏管理</a></li>
                <li  {% if 'finance' in request.path %}class="active"{% endif %} ><a href="{{ url_for('main.finance',exhibit='show_finance') }}">财务统计</a></li>
                <hr />
                <li ><p class="text-muted"><span class="glyphicon glyphicon-time"></span> 统计</p></li>
                <li {% if 'user_statistic' in request.path %} class="active"{% endif %}><a href="{{ url_for('main.user_statistic') }}">用户分析</a></li>
                <li class="disabled"><a href="#">课程分析</a></li>
                <li class="disabled"><a href="#">文章分析</a></li>
                <li class="disabled"><a href="#">评论分析</a></li>
                <li class="disabled"><a href="#">菜单分析</a></li>
                <hr />
                <li><p class="text-muted"><span class="glyphicon glyphicon-cog"></span> 设置</p></li>
                <li class="disabled"><a href="#">网站设置</a></li>
                <li {% if 'register' in request.path %}class="active"{% endif %}><a href="{{ url_for('main.register',exhibit='show_admin') }}">管理员管理</a></li>
                <li  {% if 'records' in request.path %}class="active"{% endif %} ><a href="{{ url_for('main.records',exhibit='show_records') }}">行为记录</a></li>
                <li class="disabled"><a href="#">数据导出</a></li>


            </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"  >


        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ message }}
        </div>
        {% endfor %}





                {% block page_content %}{% endblock %}



     </div>

</div>
</div>
{% else %}
    请登录
{% endif %}



{% endblock %}

{% block scripts %}
 <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{#{{ moment.include_moment() }}#}

{% endblock %}

