{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}客服消息{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>消息管理:</h3></div>

    {% if exhibit=='show_feedback' %}
        <div  class="panel panel-default" style="margin-bottom:0;">
            <div   id="accordion" class="panel-group panel-body " >


        <table  class="table table-condensed table-hover clearfix">
                  <caption>消息列表:
{#                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>#}
                  </caption>

                  <thead>

                    <tr>
                      <th>消息id</th>
                      <th>用户id</th>
                        <th>类型</th>
                        <th>消息内容</th>
                        <th>发送时间</th>
                        <th>操作</th>

                    </tr>
                  </thead>
                    <tbody  >
                    {% for f in feedback_records %}

                        <tr>

                            <td>{{  f['id'] }}</td>
                            <td>{{  f['user_id'] }}</td>
                            <td>{% if f['is_response'] %}小仟回复{% else %}用户消息{% endif %}</td>
                            <td>{{  f['text'] }}</td>
                            <td>{{  f['created_at']|strftime }}</td>
                            <td>
                                <a data-toggle="collapse" data-parent="#accordion"  href="#collapse{{ f['id'] }}" class="btn btn-info">回复</a>
                                <div id="collapse{{ f['id'] }}" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <form method="post">
                                            <input type="text" name='user' style="display: none" value={{ f['user_id']|tojson }} >
                                            <textarea name="text"></textarea>
                                            <input type="submit" />
                                        </form>
                                    </div>
                                </div>
                            </td>


                        </tr>



                    {% endfor %}
                    </tbody>
        </table>
        {% if feedback.json()['all'] > 25 %}
            <div class="pagination">
                <ul class="pagination">

                    {% for p in range(1+(feedback.json()['all'] - 1)//25) %}

                    <li {% if page==p + 1  %}class="active"{% endif %}>
                        <a href="{{ url_for('.feedback', exhibit='show_feedback', page=p + 1) }}">{{ p + 1 }}</a>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
