{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}财务统计{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>财务统计:</h3></div>


    {% if exhibit=='show_finance' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
                <form method="post">
                    起始时间:<input type="text" name="time_from" placeholder="如:20170427"/>
                    终止时间:<input type="text" name="time_to" placeholder="如:20170428"/>
                    <input type="submit" />
                </form>
        <table class="table table-condensed table-hover clearfix">
                  <caption>财务统计:
{#                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.prices',exhibit='addprice') }}">添加价格+</a>#}
                  </caption>

                  <thead>

                    <tr>
                        <th>类别</th>
                      <th>苹果收入</th>
                      <th>微信收入</th>
                        <th>总收入</th>

                    </tr>
                  </thead>
                    <tbody>

                    {% if finance %}
                        <tr>
                            <td>学生支付</td>
                            <td>{{  student_finance['iap']/100.0| round(2, 'floor') }}元</td>
                            <td>{{ student_finance['wechat']/100.0| round(2, 'floor') }}元</td>
                            <td>{{  student_finance['total']/100.0 | round(2, 'floor')}}元</td>

                        </tr>
                        <tr>
                            <td>老师支付</td>
                            <td>{{  teacher_finance['iap']/100.0| round(2, 'floor') }}元</td>
                            <td>{{  teacher_finance['wechat']/100.0| round(2, 'floor') }}元</td>
                            <td>{{  teacher_finance['total']/100.0 | round(2, 'floor')}}元</td>

                        </tr>
                        <tr>
                            <td>总计</td>
                            <td>{{  finance['iap']/100.0| round(2, 'floor') }}元</td>
                            <td>{{  finance['wechat']/100.0| round(2, 'floor') }}元</td>
                            <td>{{  finance['total']/100.0 | round(2, 'floor')}}元</td>

                        </tr>
                    {% endif %}

                    </tbody>
        </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
