{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}会员等级管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>会员等级管理:</h3></div>
    {% if exhibit=='addmember' or exhibit=='editmember' %}
        {% if exhibit=='addmember' %}
            <form method="post" enctype="multipart/form-data">
                <label>会员等级名</label><input name='mname' type="text" class="form-control">
                <label>会员类别</label>
                <select name='mtype' class="form-control">
                    <option value=1>普通会员</option>
                    <option value=2>VIP会员</option>
                    <option value=3>全权限试用会员</option>
                </select>
                <label>角色</label> 
                <select name='utype_m'  class="form-control"> 
                    <option value=1>教师</option> 
                    <option value=0>学生</option> 
                </select>

                <label>价格</label>
                <select name='mprice'  class="form-control" >
                    {% for i in prices %}
                        <option value={{ i['id'] }}>{{ i['price']/100.0 }}元</option>
                    {% endfor %}
                </select>
                <label>原价</label>
                <br/>
                <div class="col-md-12" style="padding-left: 0">
                    <input name='ori_price' type="text" class="form-control " placeholder="以分为单位,例如原价为1元,则输入100" >
                </div>
                <label>折扣</label>
                <br/>
                <div class="col-md-12" style="padding-left: 0">
                    <input name='dis_rate' type="text" class="form-control " placeholder="例如7.5折则输入75" >
                </div>
                <label>会员时间</label>
                <br/>
                <div class="col-md-10" style="padding-left: 0">
                    <input name='mtime' type="text" class="form-control " placeholder="30以内" >
                </div>
                <div class="col-md-2">
                    <select name='munit'  class="form-control" >
                        <option value=0>天</option>
                        <option value=1>月</option>
                        <option value=2>年</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-info">
            </form>
        {% elif exhibit=='editmember' %}
            {% for i in members %}
                {% if i['id']|int==request.args.get('editid')|int %}
                    <form method="post" enctype="multipart/form-data">
                        <label>会员等级名</label><input name='mname' value={{ i['name'] }} type="text" class="form-control">
                        <label>会员类别</label>
                        <select name='mtype'  class="form-control">
                            <option {% if i['mtype']|int==1|int %}selected{% endif %} value=1>普通会员</option>
                            <option {% if i['mtype']|int==2|int %}selected{% endif %} value=2>VIP会员</option>
                            <option {% if i['mtype']|int==3|int %}selected{% endif %} value=3>全权限试用会员</option>
                        </select>
                        <label>角色</label> 
                        <select name='utype_m'  class="form-control"> 
                            <option {% if i['utype']|int==1|int %}selected{% endif %} value=1>教师</option> 
                            <option {% if i['utype']|int==0|int %}selected{% endif %} value=0>学生</option> 
                        </select>
                        <label>价格</label>
                        <select name='mprice'  class="form-control" >
                            {% for j in prices %}
                                <option {% if i['price']['id']|int==j['id']|int %}selected{% endif %} value={{ j['id'] }}>{{ j['price']/100.0 }}元</option>
                            {% endfor %}
                        </select>
                        <label>原价</label>
                        <br/>
                        <div class="col-md-12" style="padding-left: 0">
                            <input name='ori_price' type="text" class="form-control " value={{ i['original_price'] }} placeholder="以分为单位,例如原价为1元,则输入100" >
                        </div>
                        <label>折扣</label>
                        <br/>
                        <div class="col-md-12" style="padding-left: 0">
                            <input name='dis_rate' type="text" class="form-control " value={{ i['discount_rate'] }} placeholder="输入1-100的数字,例如7.5折则输入75" >
                        </div>

                        <label>会员时间</label>
                        <br/>
                        <div class="col-md-10" style="padding-left: 0">
                            <input name='mtime' type="text" class="form-control " value={{ i['period_amount'] }} placeholder="30以内" >
                        </div>
                        <div class="col-md-2">
                            <select name='munit'  class="form-control" >
                                <option {% if i['period_unit']|int==0 %}selected{% endif %} value=0>天</option>
                                <option {% if i['period_unit']|int==1 %}selected{% endif %} value=1>月</option>
                                <option {% if i['period_unit']|int==2 %}selected{% endif %} value=2>年</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-info">
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}


    {% if exhibit=='show_members' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>会员等级列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.members',exhibit='addmember') }}">添加会员等级+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>等级名</th>
                        <th>角色</th>
                      <th>等级类别</th>
                        <th>会员价格</th>
                        <th>原价</th>
                        <th>折扣</th>
                        <th>会员时间</th>
                        <th>操作</th>

                    </tr>
                  </thead>
                    <tbody>
                    {% for mmember in members %}

                        <tr>

                            <td>{{  mmember['name'] }}</td>
                            <td>{% if mmember['utype']==1 %}教师{% elif mmember['utype']==0 %}学生{% endif %}</td>
                            <td>{% if mmember['mtype']==1 %}普通会员{% elif mmember['mtype']==2 %}VIP会员{% elif mmember['mtype']==3 %}全权限试用会员{% endif %}</td>
                            <td>{{  mmember['price']['price']/100.0 }}元</td>
                            <td>{%  if mmember['original_price'] %}{{mmember['original_price']/100.0  }}{% endif %}元</td>
                            <td>{%  if mmember['discount_rate'] %}{{  mmember['discount_rate']/10.0 }}{% endif %}折</td>
                            <td>{{  mmember['period_amount'] }}{% if mmember['period_unit']==0 %}天{% elif mmember['period_unit']==1 %}月{% elif mmember['period_unit']==2 %}年{% endif %}</td>
                            <td>

                              <a type="button" class="btn btn-warning btn-xs  right"   href="{{ url_for('.members',exhibit='editmember',editid=mmember['id']) }}">编辑</a>

                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#member{{ mmember['id'] }}">删除</button>
                              <div class="modal fade" id="member{{mmember['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该会员等级,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.members',exhibit='show_members',deleteid=mmember['id'])}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
