{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}会员权限管理{% endblock %}


{% block page_content %}


    <div class="page-header"><h3><span class="glyphicon glyphicon-user"></span>会员权限管理:</h3></div>
        {% if exhibit=='addpermission' %}
            <form method="post" enctype="multipart/form-data">

                <label>会员类别</label>
                <select name='mtype' class="form-control">
                    {% for m in members%}
                    <option value={{ m['id'] }}>{{ m['name'] }}</option>
                    {% endfor  %}
                </select>
                <label>课程名称</label>

                <select name='lesson'  class="form-control" >
                    {% for l in lessons%}
                    <option value={{ l['id'] }}>{{ l['name'] }}</option>
                    {% endfor  %}
                </select>
            <button type="submit">提交</button>
            </form>
        {% endif %}
{#    {% if exhibit=='addmember' or exhibit=='editmember' %}#}
{#        {% if exhibit=='addmember' %}#}
{#            <form method="post" enctype="multipart/form-data">#}
{#                <label>会员等级名</label><input name='mname' type="text" class="form-control">#}
{#                <label>会员类别</label>#}
{#                <select name='mtype' class="form-control">#}
{#                    <option value=1>普通会员</option>#}
{#                    <option value=2>VIP会员</option>#}
{#                    <option value=3>B端转C端会员</option>#}
{#                </select>#}
{#                <label>价格</label>#}
{##}
{#                <select name='mprice'  class="form-control" >#}
{#                    {% for i in prices %}#}
{#                        <option value={{ i['id'] }}>{{ i['price']/100.0 }}元</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{##}
{#                <label>会员时间</label>#}
{#                <br/>#}
{#                <div class="col-md-10" style="padding-left: 0">#}
{#                    <input name='mtime' type="text" class="form-control " placeholder="30以内" >#}
{#                </div>#}
{#                <div class="col-md-2">#}
{#                    <select name='munit'  class="form-control" >#}
{#                        <option value=0>天</option>#}
{#                        <option value=1>月</option>#}
{#                        <option value=2>年</option>#}
{#                    </select>#}
{#                </div>#}
{#                <input type="submit" class="btn btn-info">#}
{#            </form>#}
{#        {% elif exhibit=='editmember' %}#}
{#            {% for i in members %}#}
{#                {% if i['id']|int==request.args.get('editid')|int %}#}
{#                    <form method="post" enctype="multipart/form-data">#}
{#                        <label>会员等级名</label><input name='mname' value={{ i['name'] }} type="text" class="form-control">#}
{#                        <label>会员类别</label>#}
{#                        <select name='mtype'  class="form-control">#}
{#                            <option {% if i['mtype']|int==1|int %}selected{% endif %} value=1>普通会员</option>#}
{#                            <option {% if i['mtype']|int==2|int %}selected{% endif %} value=2>VIP会员</option>#}
{#                            <option {% if i['mtype']|int==3|int %}selected{% endif %} value=3>B端转C端会员</option>#}
{#                        </select>#}
{#                        <label>价格</label>#}
{##}
{#                        <select name='mprice'  class="form-control" >#}
{#                            {% for j in prices %}#}
{#                                <option {% if i['price']['id']|int==j['id']|int %}selected{% endif %} value={{ j['id'] }}>{{ j['price']/100.0 }}元</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{##}
{#                        <label>会员时间</label>#}
{#                        <br/>#}
{#                        <div class="col-md-10" style="padding-left: 0">#}
{#                            <input name='mtime' type="text" class="form-control " value={{ i['period_amount'] }} placeholder="30以内" >#}
{#                        </div>#}
{#                        <div class="col-md-2">#}
{#                            <select name='munit'  class="form-control" >#}
{#                                <option {% if i['period_unit']|int==0 %}selected{% endif %} value=0>天</option>#}
{#                                <option {% if i['period_unit']|int==1 %}selected{% endif %} value=1>月</option>#}
{#                                <option {% if i['period_unit']|int==2 %}selected{% endif %} value=2>年</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <input type="submit" class="btn btn-info">#}
{#                    </form>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endif %}#}
{##}
{#    {% endif %}#}


    {% if exhibit=='show_permission' %}
        <div class="panel panel-default" style="margin-bottom:0;">
            <div class="panel-body" >
        <table class="table table-condensed table-hover clearfix">
                  <caption>会员权限列表:
                  <a type="button" class="btn btn-info btn-sm  right" href="{{ url_for('main.permission',exhibit='addpermission') }}">添加会员权限+</a>
                  </caption>

                  <thead>

                    <tr>
                      <th>会员类型</th>
                      <th>课程名称</th>
                        <th>创建时间</th>
                        <th>删除</th>


                    </tr>
                  </thead>
                    <tbody>
                    {% for p in permission %}

                        <tr>

                            <td>{{  p['member']['name'] }}</td>
                            <td>{{  p['lesson']['name'] }}</td>
                            <td>{{  p['created_at'] }}</td>

                            <td>

                                <button class="btn btn-danger btn-xs  " data-toggle="modal" data-target="#permission{{ p['id'] }}">删除</button>
                              <div class="modal fade" id="permission{{p['id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">
                                                    警告
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                您将删除该会员观看该课程的权限,确定删除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <a type="button" class="btn btn-primary  right"   href="{{ url_for('.permission',exhibit='show_permission',deleteid=p['id'])}}">
                                                    确定
                                                </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
        </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
