{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}
{% block head %}
    {{   super() }}

{% endblock %}
{% block title %}用户统计{% endblock %}


{% block page_content %}
    注册用户:{{ users }}<br/>
    手机用户:{{ phone_users }}<br/>
    正式会员:{{ true_member }}<br/>
    试用会员:{{ artificial_member_1 }}<br/>
    全权限试用会员:{{ artificial_member_2 }}<br/>
{% endblock %}